body,
html{
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    height: 100%;
    display: grid;
    grid-template-columns: 320px 77.2%;
    grid-template-rows: 100px 100px 500px 100px;
}


.container div{
    padding: 15px;
}

.dashboard{
    background-color:#3b82f6;
    color: white;
    grid-row: 1/10;
}

.dashbaord-logo{
    display: flex;
    justify-content: left;
    text-align: center;
    gap: 10px;
    font-size: 40px;
    font-weight: 700;
}

.dashbaord-logo>.material-symbols-outlined{
    font-size: 57px;
}

.main-links{
    display: flex;
    flex-direction: column;
    font-size: 28px;
    font-weight: 600;
}

.main-links>div>a:link{
    color: white;
    text-decoration: none;
    
}

.main-links>div>a>span.material-symbols-outlined{
    font-size: 24px;
    margin-right: 7px;
}

.help-links{
    display: flex;
    flex-direction: column;
    font-size: 28px;
    font-weight: 600;
}

.help-links>div>a:link{
    color: white;
    text-decoration: none;
    
}

.help-links>div>a>span.material-symbols-outlined{
    font-size: 24px;
    margin-right: 7px;
}

.browse{
    grid-column: 2/4;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    grid-row: 1/3;
}

.search-bar>input{
    border-radius: 18px;
    border-style: none;
    margin-left: -24px;
    padding-right: 311PX;
    background: lightgrey;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 15px;
    margin-right: 191px;
}


.user-name>a:link{
    text-decoration: none;
    color: black;
    font-size: 20px;

    font-weight: 600;
}

.profile-pic>img{
    height: 64px;
    margin-top: -16px;
}

.feed-name{
    display: flex;
}

.feed-name>img{
    height: 91px;
    margin-top: -30px;
}

.hello-text{
    font-weight: 700;
    margin-top: -48px;
}


.hello-text div:last-child{
    font-size: 23px;
    margin-top: -63px;
    margin-right: 269px;
}


.feed{
    background-color: #dbeafe;
}

button{
    padding: 10px 25px 10px 25px;
    border-radius: 16px;
    background-color: #3b82f6;
    color: white;
    border-style: none;
    font-weight: 700;
    margin-top: 7px;
}
